<div class="field{% if field.field.widget.input_type == 'checkbox' and not field.field.widget.allow_multiple_selected %} single-check{% endif %}{% if field.field.widget.allow_multiple_selected %} checks{% endif %}">
  {% if field.field.widget.input_type == "checkbox" and not field.field.widget.allow_multiple_selected %}
    <label>{{ field }} {{ field.label }}</label>
  {% else %}
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field }}
  {% endif %}
  {% if field.help_text %}<div class="help">{{ field.help_text }}</div>{% endif %}
  {{ field.errors }}
</div>
